* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header{
    background: url("../img/header.webp");
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
header .btn-close {
    margin-left: 90%;
    width: 30px;
    height: 50px;
}

.nav-link:hover {
    color: #ffffff !important;
    background-color: black;
}

/* home */
.home {
    width: 100%;
    height: auto;
    margin-top: 70px;
    background-image: url("../img/home.jpeg");
    background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   /* background: url(../img/home.jpeg), rgba(0, 0, 0, 0.4);
   background-size: cover;
   padding: 100px 0px;
   background-blend-mode: color-burn; */
}

.home .home-contain h4 {
    color: #CAE6B2;
}
.home .home-contain .fwd{
    color:#32012F;
}
.home .home-contain b {
    /* background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%); */
    background-clip: text;
    color: white;
}
.home .home-social-link a i{
    color: #CAE6B2;

}
.home .home-social-link a i:hover {
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    background-clip: text;
    color: transparent;

}
.home-btn{
padding: 12px 28px;
background: #A4CE95;
border-radius: 20px;
font-size: 16px;
color: black;
font-weight: 600;
margin-top: 50px !important;
}
.home-btn:hover{
    box-shadow: 0 0 5px #A4CE95, 0 0 25px #A4CE95, 0 0 50px #A4CE95, 0 0 100px #A4CE95;
}
/* about */
.about {
    padding: 80px 0;
    background-image: linear-gradient(to bottom, #d299c2 0%, #fef9d7 100%);

}

.about .about-title h2 {
    color: #015761;
    font-size: 50px;
}

.about .about-img img {
    width: auto;
    object-fit: cover;
}