* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: #000000;
}

header .btn-close {
    margin-left: 90%;
    width: 30px;
    height: 50px;
}

header a {
    transition: .3s;
}

header a:hover,
header a.active {
    color: #aa9ec7 !important;
}

.home {
    height: 100vh;
    background-image: linear-gradient(90deg, #c5d1d7 65%, #ffffff 0);
}

/* home */
.home .home-social-link a i {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0a012c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    color: #0a012c;
    margin: 25px 15px 30px 0;
    transition: .5 ease;
}

.home .home-social-link a i:hover {
    background: #0a012c;
    color: #fff;
}

.home-btn {
    padding: 12px 28px;
    background: #0a012c;
    box-shadow: 0 2px 5px ☐ rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    transition: .5s ease;
}

.home-btn:hover {
    background: transparent;
    color: #0a012c;
    border-color: #0a012c;
}

.home-image {
    width: 400px;
    height: 400px;
    background: #c5d1d7;
    border-radius: 50%;
    border: 25px solid #ffffff;
    margin-top: 30% !important;
    outline: 25px solid #c5d1d7;

}

.home-image img {
    max-width: 700px !important;
    bottom: 27px;
}

.home-contain .home-title {
    margin-top: 40% !important;
    text-align: right;
}

.home .home-contain b {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    background-clip: text;
    color: transparent;
}


/* about */
.about {
    padding: 70px 0;
    background-image: url("../img/abstract-flowing-lines-background-2803.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;

}

.about .about-title h2 {
    margin: 16px;
    font-size: 3rem;
    color: #000000;
    font-weight: 600;
    transition: all 2s linear;
    position: relative;
}

.about .about-title h2::before {
    content: "ABOUT ME";
    position: absolute;
    top: 0;
    left: 0%;
    right: 20;
    bottom: 0;
    width: 0;
    color: #3902ff;
    overflow: hidden;
    transition: width 1s linear;
}

.about .about-title h2:hover::before {
    width: 100%;
}

.about .about-contain h3 {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    background-clip: text;
    color: transparent;
}


.about .list {
    position: relative;
}

.about .list::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    width: 1px;
    height: 90%;
    background-color: #c5d1d7;
    margin: auto;
    z-index: -1;
}

.about .items {
    margin: 8px 0px;
}

.about .items b {
    font-weight: 600;
    font-size: 17px;
    color: black;
}

.about .items span {
    margin: 0 3px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
}

.about .items::before {
    content: '';
    margin: 5px 0px;
    position: absolute;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid #ad2020;
    border-radius: 50%;
}

/* contact */
.contact {
    padding: 80px 0;
    background-image: -webkit-linear-gradient(0deg, #766dff 10%, );

}

.contact .bg-theme{
    background-color: #4963ad !important;
    
}
.card-contact {
   margin-left: -130px; 
}
.card-contact h3 {
    margin-bottom: 0; 
    position: relative;
    margin-bottom: 40px;
 }
 .card-contact h3::before {
    content: '';
    height: 3px;
    width: 50px;
    background-color: white;
    position: absolute;
    bottom: -10px;
 }
/* skill */
.skills {
    padding: 80px 0;
    /* background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%); */
    background-image: linear-gradient(to right, #6A67CE, #bc9fff)

}

.skills .skills-title h2 {
    margin: 16px;
    font-size: 3rem;
    color: #000000;
    font-weight: 600;
    transition: all 2s linear;
    position: relative;
}

.skills .skills-title h2::before {
    content: "SKILLS";
    position: absolute;
    top: 0;
    left: 0%;
    right: 20;
    bottom: 0;
    width: 0;
    color: #ee0672;
    overflow: hidden;
    transition: width 1s linear;
}

/* .skills .skills-title h2:hover::before {
    width: 100%;
} */
.skills-inner{
    margin: 20px auto;
    padding: 20px;
}


.skill-container {
    min-height: 100vh;
    width: 100%;
     padding: 100px 0;
    animation: ani 1s linear forwards;
  }
  @keyframes ani{
    0%{
        opacity: 1;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
  }
  .timeline {
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .timeline ul li {
    padding: 20px;
    background:  #000000;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .timeline ul li:last-child {
    margin-bottom: 0;
  }


  
  