* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
header {
    background-color: #000000;
}

header .btn-close {
    margin-left: 90%;
    width: 30px;
    height: 50px;
}

/* header .scrolled{
    background-color: black;
} */
header a {
    transition: .3s;
}

header a:hover,
header a.active {
    color: #aa9ec7 !important;
}

.home {
    height: 100vh;
    /* background: linear-gradient(-90deg, #a18cd1 65%, #fff 30%); */
    background-image: linear-gradient(-90deg, #9e95b4 65%, #ffffff 0);
}

/* home */
.home .home-social-link a i {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0a012c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    color: #0a012c;
    margin: 25px 15px 30px 0;
    transition: .5 ease;
}

.home .home-social-link a i:hover {
    background: #0a012c;
    color: #fff;
}

.home-btn {
    padding: 12px 28px;
    background: #0a012c;
    box-shadow: 0 2px 5px ☐ rgba(0, 0, 0, .2);
    border: 2px solid transparent;
    transition: .5s ease;
}

.home-btn:hover {
    background: transparent;
    color: #0a012c;
    border-color: #0a012c;
}

.home-image {
    width: 400px;
    height: 400px;
    background: #9e95b4;
    border-radius: 50%;
    border: 25px solid #ffffff;
    margin-top: 30% !important;
    outline: 25px solid #9e95b4;

}

.home-image img {
    max-width: 700px !important;
    bottom: 27px;
}

.home-contain .home-title {
    margin-top: 40% !important;
    text-align: right;
}

.home .home-contain b {
    background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    background-clip: text;
    color: transparent;
}


/* about */
.about {
    padding: 70px 0;
}

.about .about-title h2 {
    margin: 16px;
    font-size: 3rem;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 2s linear;
    position: relative;
}

.about .about-title h2::before {
    content: "ABOUT ME";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    color: #4c3e72;
    overflow: hidden;
    transition: width 2s linear;
}

.about .about-title h2:hover::before {
    width: 100%;
}

.about .about-contain h3 {
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    background-clip: text;
    color: transparent;
}


.about .list {
    position: relative;
}

.about .list::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9px;
    width: 1px;
    height: 90%;
    background-color: #9e95b4;
    margin: auto;
    z-index: -1;
}

.about .items {
    margin: 8px 0px;
}

.about .items b {
    font-weight: 600;
    font-size: 17px;
    color: black;
}

.about .items span {
    margin: 0 3px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
}

.about .items::before {
    content: '';
    margin: 5px 0px;
    position: absolute;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid #ad2020;
    border-radius: 50%;
}
/* contact */
.contact{
    padding: 80px 0;

}
.contact .contact-title h2 {
    margin: 16px;
    font-size: 3rem;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 2s linear;
    position: relative;
}
.contact .contact-title h2::before {
    content: "CONTACT";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0;
    color: #4c3e72;
    overflow: hidden;
    transition: width 2s linear;
}

.contact .contact-title h2:hover::before {
    width: 100%;
}
